*{

    padding: 0px;
    margin: 0;
}



header
{
    width: 100vw;
    height: 50px;
    background-color: lightgray;
}

a:hover{
    text-decoration: underline;
}

a{
    text-decoration: none;
}